:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: black;
      background-color: #ffffff;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .btn {
      color: #242424;
    }
    a {
    color: lightgreen;
    }
  }
  
  .grid h2 {
    margin-top: -5px;
  }
  
  .grid h4 {
    margin-top: -17px;
    margin-bottom: 10px;
    font-weight: 400;
    color: gray;
  }
  
  .grid {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 10px;
    row-gap: 20px;
    overflow-x: auto;
  /* outline: 1px solid lightgreen; */
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: auto;
  }
  
  .head {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 315px;
    position: relative;
    background: #7dbdc5;
    border-radius: 5%;
    /* box-shadow: 0px 0px 10px lightblue; */
    padding: 20px;
    scroll-margin-left: 20px;
    scroll-snap-align: start;
  }
  .grid .head{
    flex: 0 0 auto;
    margin-right: 20px;
  }
  .head:hover,
  .profile:hover {
   filter: brightness(1.07);
  }
  
  .center {
    position: absolute;
    top: 13%;
    height: 200px;
    width: 200px;
    background-color: #666666;
    background-image: url("https://images.unsplash.com/photo-1531891437562-4301cf35b7e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*   clip-path: ellipse(45% 45% at 50% 50%); */
    border-radius: 50%;
  }
  
  .left {
    position: absolute;
    top: 10%;
    left: 30px;
    height: 70px;
    width: 70px;
    background-color: #666666;
    background-image: url("https://images.unsplash.com/photo-1630361660653-917477d25b0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*   clip-path: ellipse(45% 45% at 50% 50%); */
    border-radius: 50%;
    border: 7px solid #7dbdc5;
    background-clip: padding-box;
  }
  
  .right {
    position: absolute;
    bottom: 25%;
    right: 30px;
    height: 70px;
    width: 70px;
    background-color: #666666;
    background-image: url("https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*   clip-path: ellipse(45% 45% at 50% 50%); */
    border-radius: 50%;
    border: 7px solid #7dbdc5;
    background-clip: padding-box;
  }
  
  .fab {
    position: absolute;
    top: 11px;
    right: 56px;
    color: white;
  }
  
  .top {
    position: absolute;
    top: -11px;
    right: 17px;
    font-weight: 500;
    color: white;
  }
  
  .bottom {
    width: 280px;
    height: 70px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #5a9aa2;
    color: white;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border-top: 0.1px solid lightgray;
  }
  
  /*.line {
    position: absolute;
    bottom: 19.5%;
    width: 99.25%;
    border: 0.9px solid #ffffff;
  }*/
  
  /* photos and background */
  .a1 {
    background-color: #b4b4b4;
  }
  
  .a {
    background-image: url("https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
  }
  
  .aa {
    background-image: url("https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-position: 100% 30%;
    border: 7px solid #b4b4b4;
  }
  
  .aaa {
    background-image: url("https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
    border: 7px solid #b4b4b4;
  }
  
  .A {
    background: #8A8A8A;
  }
  
  .b1 {
    background-color: #fc9c71;
  }
  
  .b {
    background-image: url("https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-position: 100% 20%;
  }
  
  .bb {
    background-image: url("https://images.unsplash.com/photo-1598308793232-ea6ad827ab4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZSUyMHJhcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: 100% 20%;
    border: 7px solid #fc9c71;
  }
  
  .bbb {
    background-image: url("https://images.unsplash.com/photo-1598888362459-507d67453e54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    border: 7px solid #fc9c71;
  }
  
  .B {
    background-color: #e28257;
  }
  
  .c1 {
    background-color: #786c66;
  }
  
  .c {
    background-image: url("https://images.unsplash.com/photo-1578758803946-2c4f6738df87?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
     background-position: 100% 10%;
  }
  
  .cc {
    background-image: url("https://images.unsplash.com/photo-1563452965085-2e77e5bf2607?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
    background-position: 100% 0%;
    border: 7px solid #786c66;
  }
  
  .ccc {
    background-image: url("https://images.unsplash.com/photo-1614807547811-4174d3582092?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: 100% 50%;
    border: 7px solid #786c66;
  }
  
  .C {
    background-color: #524640;
  }
  
  .d1 {
    background-color: #aaada2;
  }
  
  .d {
    background-image: url("https://images.unsplash.com/photo-1617079098163-43d49057277d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
     background-position: 100% 0%;
  }
  
  .dd {
    background-image: url("https://images.unsplash.com/photo-1623210796309-42ee352c85c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
    background-position: 100% 0%;
    border: 7px solid #aaada2;
  }
  
  .ddd {
    background-image: url("https://images.unsplash.com/photo-1527203561188-dae1bc1a417f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80");
    background-position: 100% 70%;
    border: 7px solid #aaada2;
  }
  
  .D {
    background-color: #86897E;
  }
  
  a {
    color: darkgreen;
    text-decoration: none;
  }
  
  a:visited {
    color: #666666;
  }
  
  /* cursor */
  
  .grid {
    cursor: pointer;
  }
    
  