/* Style général de la section */
.info-album {
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 300px;
}

/* Style de la pochette d'album */
.album-cover img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

/* Style des informations de l'album */
.album-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 100%;
}

.album-info h2 {
    font-size: 24px;
    margin: 0;
}

.album-info p {
    margin: 5px 0;
    color: #888;
}

.date-genre {
    display: flex;
    justify-content: space-between;
    color: #888;
}

.buttons button {
    background-color: #fe0a69;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.buttons img {
    width: 20px;
    height: 20px;
}

/* Style du bouton "Play" */
.play-button {
    background-color: #fe0a69;
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Style du bouton "Ajouter" */
.add-button {
    background-color: #535353;
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.add-button p {
    margin: 0;
    color: #fff;
    margin-left: 5px;
}

.play-button p {
    margin: 0;
    color: #fff;
    margin-left: 5px;
}

.buttons{
    display: flex;
    margin-top: auto;
}

/* Change flex direction to column on smaller screens */
@media (max-width: 768px) {
    .info-album {
        flex-direction: column;
        align-items: center;
    }
}

/* Adjust button size on smaller screens */
@media (max-width: 768px) {
    .buttons button {
        padding: 5px;
    }

    .buttons img {
        width: 15px;
        height: 15px;
    }
}

.titres ul{
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.titres ul li{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.titres ul li img{
    margin-right: 10px;
    margin-left: 10px;
}

.titres ul li img:hover{
    cursor: pointer;
    color: #fe0a69;
}

.titres ul button{
    background-color: #202020;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.titres ul button:hover{
    background-color: #424242;
}

.titres ul li p{
    color:#6d6d6d;
    font-weight: bold;
}