/* Style général de la section */
.info-album {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Style de la pochette d'album */
.album-cover img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 20px;
}

/* Style des informations de l'album */
.album-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 100%;
}

.album-info h2 {
    font-size: 24px;
    margin: 0;
}

.album-info p {
    margin: 5px 0;
    color: #888;
}

.date-genre {
    display: flex;
    justify-content: space-between;
    color: #888;
}

.buttons {
    display: flex;
    margin-top: auto;
}

.buttons button {
    background-color: #fe0a69;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.buttons img {
    width: 20px;
    height: 20px;
}

/* Style du bouton "Play" */
.play-button {
    background-color: #fe0a69;
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Style du bouton "Ajouter" */
.add-button {
    background-color: #535353;
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.add-button p {
    margin: 0;
    color: #fff;
    margin-left: 5px;
}

.play-button p {
    margin: 0;
    color: #fff;
    margin-left: 5px;
}

.buttons{
    display: flex;
    margin-top: auto;
}

/* Change flex direction to column on smaller screens */
@media (max-width: 768px) {
    .info-album {
        flex-direction: column;
        align-items: center;
    }
}

/* Adjust button size on smaller screens */
@media (max-width: 768px) {
    .buttons button {
        padding: 5px;
    }

    .buttons img {
        width: 15px;
        height: 15px;
    }
}

.titres ul{
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.titres ul li img{
    margin-right: 10px;
    margin-left: 10px;
}

.titres ul li img:hover{
    cursor: pointer;
    color: #fe0a69;
}

.titres ul li{
    background-color: #202020;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.titres ul li:hover{
    background-color: #424242;
}

.add-to-playlist-button{
    background-color: #535353;
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.titres ul li p{
    color:#6d6d6d;
    font-weight: bold;
}

.popup-playlists{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-playlists.active{
    display: flex;
}

.popup-playlists .popup-content{
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.retourbtn{
    margin: 10px;
    background-color: #fe0a69;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    width: 70px;
}

.retourbtn:hover{
    background-color: #ff4d8a;
}

.retourbtn a{
    text-decoration: none;
    color: #fff;
}